@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome</h1>
    <h2 class="display-4">to Bibi's book library!</h2>
    <p class="display-4">Here you can find selected books and authors from Bulgaria and the world.</p>
</div>
