@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-3" style="font-size:50px">Welcome</h1>
        <h2 class="display-4" style="font-size:40px">to Bibi's book library!</h2>
        &nbsp;
        <p class="display-4" style="font-size:25px">Here you can find selected books and authors from Bulgaria and the world.</p>
    </div>
